*.suo
*.DotSettings.user
*.wixproj.user
*.csproj.user
*.vsmdi
*.ReSharper.user
*.vsp
*.psess
src/_UpgradeReport_Files
logs
release
build
src/Backup
bin
obj
TestResults
build
dist
deploy
_ReSharper.*
*ncrunchsolution*
*.pj
packages
